footer {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    border-top: 1px solid #CCCCCC;
}
p {
    color: black;
    align-items: center;
    text-align: center;
}